body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(213, 213, 243);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

form {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}

input[type="radio"] {
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    color: red;
    font-weight: bold;
}

@media (max-width: 600px) {
    body {
        padding: 10px; /* Adiciona um pequeno espaçamento nas laterais */
    }

    h1 {
        font-size: 20px; /* Ajusta o tamanho do título */
    }

    form {
        padding: 20px; /* Reduz o padding do formulário para caber melhor */
        width: 100%; /* O formulário ocupa 100% da largura da tela */
    }

    label {
        font-size: 16px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }

    input[type="submit"] {
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
        padding: 12px 20px; /* Ajusta o padding para um botão mais acessível */
    }
}
