.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.playwrite{
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza horizontalmente */
    justify-content: center;  /* Centraliza verticalmente */
    height: 100vh;  /* A altura da página será 100% da altura da janela */
    margin: 0;
    text-align: center;  /* Centraliza o texto */
    background-color: black; /* Cor de fundo suave */
}

/* Estilo para o título */
h1 {
    color: #333;
    margin-bottom: 20px;
    font-family:"Playwrite AU SA", cursive; 
    text-shadow: 1px 0px 1px white;
}

/* Estilo para a lista de enquetes */
ul {
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 15px;
}

/* Estilo para os links */
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: black;
}

/* Estilo para a mensagem quando não há enquetes */
p {
    font-size: 18px;
    color: #666;
}

.container{
background-color: rgb(232, 140, 140);
width: 400px;
height: 200px;
border-radius: 10%;
}

.flex{
    display: flex;
}